<section class="quienes-somos">
    <h2>Quiénes Somos</h2>
    <p>Somos angular una forma de crear aplicaciones con Angular y reutiliza tu código y habilidades para crear aplicaciones para cualquier objetivo de implementación. Para web, web móvil, móvil nativo y escritorio nativo
        ,Logra la máxima velocidad posible en la Plataforma Web hoy y avance, a través de Web Workers y renderizado del lado del servidor.
        Angular te permite controlar la escalabilidad. Satisface requerimientos enormes de datos construyendo modelos en RxJS, Immutable.js o algún otro.
    </p>
    <p>Uniempresarial JuanAlarcón.</p>
</section>
